/***********************************
    Donation page stying
************************************/
body {
    margin: 0;
    padding: 0;
}

#Content1 {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/***********************************
    Donation page Background stying
***********************************/
.donation_form_outer {
    height: 100vh;
    width: auto;
    display:flex;
    justify-content:space-around;
}
/***********************************
    Donation page Form stying
***********************************/
.donation_form_inner {
    margin-top:15vh;
    height: 70vh;
    width: 60vw;
    background-color:cyan;
    border-radius:10px;
}

.donation_form_inner_upper{
    padding:30px;
}
.donation_form_inner_upper .donation_preset_btn {
    margin-left: 1vw;
    height:2vw;
    width:3vw;
    font-size:0.8vw;
}

.donation_form_inner_lower {
    display: flex;
    flex-direction: row;
    height: 80vh;
}
.donation_form_img{
    width:20vw;
    height:auto;
    position:relative;
    left:70px;
    top:50px;
}
.donation_form_inner_lower_left .form_title,
.donation_form_inner_lower_right .form_title {
    font-size: 1vw;
}
.donation_form_inner_lower_left .donation_info_textbox {
    width: 10vw;
}
.donation_form_inner_lower_right {
    width: 30vw;
    position:relative;
    left:10vw;
}
.donation_form_inner_lower_right .donation_info_textbox {
    width: 15vw;
}
.donation_form_inner_lower_left, 
.donation_form_inner_lower_right, 
.donation_form_inner_upper {
    margin: 12px;
    background-color: #eeeeee;
    border-radius: 10px;
}

.donation_form_inner_lower_left {
    width: 15vw;
    background-color:orange;
}