body {
    margin: 0;
    padding: 0;
}

#BodyContent{
    margin:0;
    padding:0;
}

/*
    Main Presentation Section for the first thing user sees
*/
.home_background_main {
    background-image: url('../Resource/Forest_bg.jpg');
    background-size:cover;
    padding:50vh 20vw;
    left: 0px;
    top: 0px;
}

#quote {
    text-align:center;
    text-decoration:none;
    margin-left:10vw;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
}


/*
    Counter Section on home page showing the progress being made
*/

.planted_trees_counter {
    background-color: #1b536e;
    padding: 5vh 20vw;
    display: flex;
}
.planted_trees_counter div {
    flex-direction: row;
    margin-left: 5vw;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
}

.planted_trees_counter div progress_text {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
}
