#nav_bar_outer ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 2vw;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

#nav_bar_inner ul li {
    display: inline-block;
    list-style: none;  
}

#nav_bar_inner ul li a {
    font-size: 1.5vw;
    margin:20px 2vw;
    text-align:center;
}

